@charset "utf-8";
/* CSS Document */


/*content start*/
#wrap #innerWrap #contentWrap #contentInnerWrap #dirpath a{
	font:arial;
	font-size:14px;
	color:#032d53;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #dirpath p span{
	font-weight:bold;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #headingBlockA01 h1{
	font:arial;
	font-size:24px;
	font-weight:normal;
	color:#FFFFFF;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail01 p{
	font:arial;
	font-size:12px;
	color:#000000;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 p{
	font:arial;
	font-size:12px;
	color:#000000;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 h1{
	font:arial;
	font-size:30px;
	color:#000000;
	font-weight:normal;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #submitBut p{
	font:arial;
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}


#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #btnBlockA01 p{
	font:arial;
	font-size:14px;
	color:#FFFFFF;
}
/*content End*/
