@charset "utf-8";
/* CSS Document */

 @media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	 .showItem{display:none}
.hideItem{display:block}
/* CSS */

	#wrap
	{
		width:100%;
		height:auto;	
		margin:auto;
		
	}
	
	#wrap #innerWrap
	{
		width:320px;
		height:auto;	
		margin:auto;
	}
	
	/* header start */
	#wrap #innerWrap #headerBlockA01
	{
		height:35px;
		width:100%;
		background:#032d53;
		left:0;
		right:0;
		margin:auto;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01
	{
		width:320px;
		height:40px;
		margin:auto;
	}
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01
	{
		width:155px;
		height:40px;
		float:left;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul #outbutton
	{
		display:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #langBlock
	{
		padding-top:10px;
		padding-left:10px;
		width:140px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock
	{
		float:left;
		width:16px;
		height:16px;
		padding-top:10px;
		padding-left:90px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB 
	{
		float:right;
		padding:10px 0 0 0;
		width:23px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB ul li
	{
		border-bottom:1px solid #02213d;
		border-top:1px solid #063662;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop
	{
		width:300px;
		height:200px;
		position:fixed;
		margin-top:5px;
		right:10px;
		color:#fff;
		z-index:8;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li ul {
	  padding-top:15px;
	  z-index:9;
	  height:100px;
	  box-shadow: none;
	  visibility:visible !important;
	  display:block !important;
	  opacity:1 !important;
	}
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li #test2 {
	margin-right:70px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li #test
	{
	 	top:30px;
		right:5px;
		width:1000px;
		height:500px;
		position:fixed;
		padding:0;
		margin:0;
		padding-left:50px;
		z-index:10;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop a
	{
		color:#fff;	
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop li
	{
		background:#032d53;
		padding-bottom:5px;
		padding-left:5px;
		padding-top:5px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop li:first-child
	{
		border:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop2 li
	{
		background:#032d53;
		padding-bottom:5px;
		padding-left:30px;
		padding-top:5px;
		border:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop3 li
	{
		background:#032d53;
		padding-bottom:5px;
		padding-left:30px;
		padding-top:5px;
		border:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop .arrowBlock
	{
		background-color:transparent;	
		padding:0;
	}
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mmdrop .arrowBlock #arrow 
	{
		margin-left:280px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #033058;
	}
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mobileMenu 
	{
		display:block;
		width:30px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mobileMenu2
	{
		cursor:pointer;
		border-top:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlockB .mobileMenu3 
	{
		cursor:pointer;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li #helperLogin {
		width:154px;
		height:100px;
		background:#FF0004;
		position:absolute;
		bottom:120px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul
	{
	  text-align: left;
	  display: inline;
	  margin: 0;
	  list-style: none;
	}
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li {
	  display:inline;
	  position: relative;
	  background: #032d53;
	}
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .del{
		display:none;
	}
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li.mobileMenu{
		float:right;
		display:block;
		padding-left:23px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li span {
	  display:none;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .arrowBlock {
		background:none;
		bottom:10px;
		left: 30px;
		width:50px;
		margin-right:57px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .formBlock{
		left: 62px;
		height:320px;
		padding-top: 40px;
		padding-left70px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .formBlockA{
		float:left;
		width:135px;
		height:35px;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .formBlockB{
		margin-top:14px;
		height:35px;
	}
	
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li .arrowBlock #arrow {
		margin-left:260px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #033058;
	}
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li ul {
	  padding-top:15px;
	  position: absolute;
	  z-index:9;
	  right:0;
	  height:100px;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li ul li { 
	  background: #033058; 
	  width:280px;
	  display: block; 
	  color: #fff;
	  text-shadow: 0 -1px 0 #000;  
	}
	
	
	#wrap #innerWrap #headerBlockA01 #headerBlockB01 #headerBlockC01 #loginBlock ul li #helperLogin {
		width:280px;
		height:100px;
		background:none;
		position:absolute;
		bottom:120px;
	}
	
	#wrap #innerWrap #headerBlockD01
	{
		height:110px;
		width:320px;
		margin:auto;
	}
	
	#wrap #innerWrap #headerBlockD01 #logoBlock
	{
		width:300px;
		height:90px;
		padding-top:10px;
		margin:0px auto 20px auto;
		border-bottom:1px solid #a1a1a1;
		z-index:-1;	
	}
	
	#wrap #innerWrap #headerBlockD01 #logoBlock img
	{
		width:290px;
		height:65px;	
		margin:0px 0px 0px 10px;
	}
	/* header end */
	
	/* gnav start */
	#wrap #innerWrap #gnavBlockA01
	{
		display:none;
	}
	
	#wrap #innerWrap #gnavBlockA01 #gnavBlockB01
	{
		width:320px;
		height:50px;
		margin:auto;	
	}
	
	#wrap #innerWrap #gnavBlockA01 #gnavBlockB01 #gnavBlockC01 ul li
	{
		border-left:1px solid #000000;
	}
	
	#wrap #innerWrap #gnavBlockA01 #gnavBlockB01 #gnavBlockC01 ul li:first-child
	{
		border:none;
	}
	
	
	#gnavBlockC01 ul
	{
	  display: inline;
	  margin: 0;
	  padding: 15px 4px 17px 0;
	  list-style: none;
	}
	
	#gnavBlockC01 ul li {
	  margin-right: -4px;
	  position: relative;
	  padding: 16px 20px;
	  background: #032d53;
	  cursor: pointer;
	  transition: all 0.2s;
	}
	
	#gnavBlockC01 ul li:hover {
	  background: #033058;
	  color: #fff;
	}	
	
	#gnavBlockC01 ul li ul {
	  padding-top:15px;
	  padding-left:1px;
	  position: absolute;
	  z-index:9;
	  left: 0;
	  width:200px;
	  height:100px;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	
	#gnavBlockC01 ul li ul li { 
	  background: #033058; 
	  width:160px;
	  display: block; 
	  color: #fff;
	  text-shadow: 0 -1px 0 #000;
	  border-bottom:1px solid #000000;
	}
	#gnavBlockC01 ul li ul li:hover { background: #044580; }
	
	#gnavBlockC01 ul li:hover ul {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}
	
	#gnavBlockC01 ul li:hover ul li{
		border-left:none !important;
	}
/* gnav end */
	
/*banner start
#wrap #innerWrap #bannerBlockA img
{
	position:absolute;
}

#wrap #innerWrap #bannerBlockA #bannerBlockB
{
	width:960px;
	height:400px;
	overflow:hidden;
	margin:auto;
	position:relative;
}


#wrap #innerWrap #bannerBlockA #bannerBlockB #bannerBlockC
{
	margin-top:40px;
	margin-left:133px;
	height:195px;
	width:680px;
	background:#FFFFFF;
	opacity:0.5;
	position:absolute;	
	
}

#wrap #innerWrap #bannerBlockA #bannerBlockB #bannerBlockD
{
	
	height:140px;
	width:650px;
	background:#FFFFFF;
	opacity:0.8;
	margin-top:85px;
	margin-left:150px;
	position:absolute;
	
}

#wrap #innerWrap #bannerBlockA #bannerBlockB #bannerBlockE
{
	height:35px;
	width:250px;
	margin-top:48px;
	margin-left:150px;
}
	banner end*/
	
	/* footer start */
	
	#wrap #innerWrap #footer
	{
		width:320px;
		height:380px;
		background:#e4e4e4;		
	}
	
	#wrap #innerWrap #footer #footerBlockA
	{
		width:320px;
		height:380px;	
		margin:auto;
	}
	
	#wrap #innerWrap #footer #footerBlockB
	{
		width:320px;
		height:160px;	
		margin:auto;
	}
	
	#wrap #innerWrap #footer #footerBlockC
	{
		width:320px;
		height:180px;
		margin:auto;
	}
	
	#wrap #innerWrap #footer #footerBlockB .footerBlockD
	{
		width:90px;
		height:150px;	
		float:left;
		padding-top:10px;
		padding-left:10px;
	}
	
	#wrap #innerWrap #footer #footerBlockB .footerBlockD h4,p{
		font:arial;
		font-size:12px;
	}
	#wrap #innerWrap #footer #footerBlockB .footerBlockD:last-child
	{
		display:none;
	}
	
	#wrap #innerWrap #footer #footerBlockC .footerBlockE
	{
		width:320px;
		height:20px;
		float:left;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE #fotLogo{
		width:240px;
		height:60px;
		margin:0px 0px 0px 48px;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE h2{
		display:none;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE p{
		display:none;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE h6{
		font:arial;
		font-size:14px;
		color:#032d53;
		font-weight:normal;
		margin:0px auto 0px 60px;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE:first-child
	{
		width:320px;
		height:150px;
		float:left;
		margin-right:80px;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE ul{
		width:220px;
		height:60px;
		margin:0px auto 0px auto;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE ul li
	{
		display:inline;
	}
	#wrap #innerWrap #footer #footerBlockC .footerBlockE ul li img
	{
		width:50px;
		height:50px;
	}	
	#wrap #innerWrap #footer #footerBlockC .footerBlockE ul li :hover
	{
		opacity:0.5;
	}
	
	#wrap #innerWrap #footer2
	{
		height:150px;
		width:100%;
		background:#FFFFFF;	
	}
	
	#wrap #innerWrap #footer2 #footer2BlockA
	{
		height:70px;
		width:320px;
		margin:auto;
	}
	
	#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB
	{
		width:320px;
		height:10px;
		padding-top:20px;
	}
	
	#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB ul
	{
		margin:0px 0px 0px 10px;
		display:inline;
		font:arial;
		font-size:10px;
	}
	#wrap #innerWrap #footer2 #footer2BlockA #footer2BlockB p{
		margin:0px 0px 0px 10px;
		float:none;
	}
	#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB p {
    	font-size: 10px;
	}
	
	#footer hr
	{
		margin:10px 0 0 0;	
	}
	/* footer end */
	/* wrap end */
}