@charset "utf-8";
/* CSS Document */

 @media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	#wrap #innerWrap #contentWrap
	{
		width:320px;
		height:auto;
	}
	
	#wrap #innerWrap  #blackscreen
{
	width:320px;
	height:2200px;
	background:#000;
	z-index:4;
	position:absolute;
	top:0;
	opacity:0.8;
}

	#wrap #innerWrap #contentWrap #contentInnerWrap #mbox
{
	width:300px;
	height:600px;
	background:#fff;
	position:absolute;
	z-index:5;
	top:50px;
	margin-left:0px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox1
{
	width:280px;
	height:60px;
	background:#fff;
	margin-left:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2
{
	width:280px;
	height:500px;
	float:left;
	margin-left:15px;
	background:#fff;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv
{
	margin-left:25px;
	width:250px;
	height:40px;
	margin-top:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 input[type='text']
{
	width:210px;
	height:40px;
	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv:first-child
{
	margin-top:25px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv:nth-child(4)
{
	height:105px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv textarea
{
	width:210px;
	height:95px;
	resize:none;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv:last-child>*
{
	float:none !important;
	margin-left:50px !important;
	margin:0;
	margin-top:50px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox2 .inputdiv .buttonContent
{
	width:70px;
}

	
	#wrap #innerWrap #contentWrap #contentInnerWrap
	{
		width:300px;
		margin:auto;
		height:1500px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
	{
		width:300px;
		height:20px;
		margin:10px 0 10px 0;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01
	{
		width:300px;
		height:40px;
		background:url(../../../images/contents_img_017.png) no-repeat;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 p{
		background:none;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01
	{
		width:300px;
		height:1370px;
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .bannerBlockA01{
		display:none;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01
	{
		float:left;
		width:280px;
		height:465px;
		margin:10px 0 0 10px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01
	{
		width:280px;
		height:260px;
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .buttonContent{
		margin:30px 0px 0px 0px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .imgBlockA01 {
		width: 100px;
		height: 100px;
		float: left;
		margin: 9px 0px 0px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .imgBlockA01 img {
		width: 100px;
		height: 100px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .listBlockA01 {
		width: 160px;
		height: 99px;
		float: right;
		margin: 9px 0px 0px 0px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .listBlockA01 span {
		padding: 0px 0px 10px 5px;
		font-size: 12px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .headingBlockA01 {
		width: 260px;
		height: 50px;
		margin: 0px 0px 0px 13px;
		border-bottom: 1px solid #A1A1A1;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01
	{
		
		width:280px;
		height:180px;
		margin:9px 0 0 0;
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .headingBlockA01 {
		width: 260px;
		height: 35px;
		margin: 0px 0px 0px 13px;
		border-bottom: 1px solid #A1A1A1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .headingBlockA01 p{
		font-size:14px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .textBlockB01 {
		float: right;
		margin: 14px 10px 0px 0px;
		font-size: 14px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01
	{
		float:left;
		width:280px;
		height:447px;
		margin:0px 0px 0 10px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01
	{
		width:280px;
		height:625px;
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 .headingBlockA01 {
		width: 260px;
		height: 35px;
		margin: 0px 0px 0px 13px;
		border-bottom: 1px solid #A1A1A1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 .headingBlockA01 p{
		font-size:14px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 {
		float: left;
		width: 167px;
		height: 171px;
		margin: 13px 0px 0px 55px;
		border: 1px solid #A1A1A1;
		text-align: center;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01
	{
		width:280px;
		height:240px;
		margin:9px 0 0 0;
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .headingBlockA01 {
		width: 260px;
		height: 35px;
		margin: 0px 0px 0px 13px;
		border-bottom: 1px solid #A1A1A1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .headingBlockA01 p{
		font-size:14px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .imgBlockB01 {
		float: left;
		margin: 25px 0px 0px 75px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .listBlockC01 {
		float: left;
		width: 235px;
		margin: 30px 0px 0px 60px;
	}
}