@charset "utf-8";
/* CSS Document */

/*content start*/

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #mbox1
{
	padding-top:20px;
	font-size:21px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #close
{
	position:absolute;
	right:10px;
	top:0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #mbox #close:hover
{
	cursor:pointer;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p 
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p a
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 p 
{
	font-size:24px;
	color:#FFF;
	padding-top:5px;
	padding-left:10px;
	background-image:url(../images/contents_heading_001.png);
	background-repeat:no-repeat;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .headingBlockA01
{
	width:350px;
	height:50px;
	margin:0 0 0 13px;
	border-bottom:1px solid #A1A1A1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .headingBlockA01 p
{
	padding:10px 0 0 22px;
	font-size:24px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .imgBlockA01
{
	width:125px;
	height:125px;
	float:left;
	margin:9px 0 0 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .listBlockA01
{
	width:200px;
	height:99px;
	float:right;
	margin:9px 15px 0 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .listBlockA01 span
{
	padding:0 0 10px 5px;
	font-size:14px;

}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockE01 .listBlockA01 img
{
	padding-top:5px 0 0 0;	
}

.buttonContent {
	width:100px;
	margin:26px 0 0 0;
	background: #032d53;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	padding: 10px 20px 10px 35px;
	text-decoration: none;
}

.buttonContent:hover {
  background: #d3b86a;
  text-decoration: none;
  transition:0.5s all ease;
  color:#032d53;
  cursor:pointer;
}

.buttonContent h3 {
	font-size: 20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .headingBlockA01
{
	width:350px;
	height:50px;
	margin:0 0 0 13px;
	border-bottom:1px solid #A1A1A1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .headingBlockA01 p
{
	padding:10px 0 0 22px;
	font-size:24px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .textBlockA01
{
	float:left;
	margin:14px 0 0 13px;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockD01 #contentBlockF01 .textBlockB01
{
	float:right;
	margin:14px 36px 0 0;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 .headingBlockA01
{
	width:527px;
	height:50px;
	margin:0 0 0 13px;
	border-bottom:1px solid #A1A1A1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 .headingBlockA01 p
{
	padding:10px 0 0 22px;
	font-size:24px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 
{
	float:left;
	width:167px;
	height:171px;
	margin:13px 0 0 12px;
	border:1px solid #a1a1a1;
	text-align:center;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 img
{
	padding:6px 0 0 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 img:hover
{
	opacity:0.5;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 .textBlockC01
{
	padding:12px 0 0 0;
	font-size:14px;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 .textBlockD01
{
	padding:5px 0 0 0;
	font-size:12px;
	color:#726952;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockH01 ul li.listBlockB01 .textBlockE01
{
	padding:5px 0 0 0;
	font-size:12px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .headingBlockA01
{
	width:527px;
	height:50px;
	margin:0 0 0 13px;
	border-bottom:1px solid #A1A1A1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .headingBlockA01 p
{
	padding:10px 0 0 22px;
	font-size:24px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .imgBlockB01
{
	float:left;
	margin:45px 0 0 20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .listBlockC01
{
	float:left;
	width:300px;
	margin:45px 0 0 20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .listBlockC01 span
{
	padding:0 0 10px 5px;
	font-size:14px;

}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01 #contentBlockI01 .listBlockC01 img
{
	padding-top:2px 0 0 0;
}

.bannerBlockA01 img
{
	margin:50px 0 0 0;
}
/*content End*/

/*Footer start */
#wrap #innerWrap #footer
{
	color:#032d53;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE h2
{
	font-weight:100;
	margin-top:10px;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE:first-child p
{
	margin-top:10px;
	margin-left:50px;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE 
{
	color:#032d53;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE:last-child p
{
	font-size:12px;
}

#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB
{
	font-size:12px;
	color:#032d53;
}

#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB p
{	
	float:right;	
}

 #footer a
 {
   text-decoration:none;
   color:#032d53;
}
/*footer end */
/*wrap end */

