@charset "utf-8";
/* CSS Document */

/* content start */
#wrap #innerWrap #mainArea
{
	width:1920px;
	height:1500px;
}

#wrap #innerWrap #mainArea #mainInnerWrap
{
	width:960px;
	margin:auto;
	height:1400px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #dirpath{
	width:960px;
	height:15px;
	margin:20px 0px 20px 0px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content
{
	float:left;
	width:710px;
	height:1000px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #headingBlockA01{
	width:710px;
	height:30px;
	padding:3px 0px 3px 8px;
	background:url(../images/contents_heading_001.png) no-repeat;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01{
	float:left;
	width:710px;
	height:1360px;
	border:1px solid #a1a1a1;
}
#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 img{
	margin:0px 0px 0px 48px;
	padding:35px 0px 0px 0px;
	border-top:1px solid #a1a1a1;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 #contentDetail{
	width:620px;
	height:820px;
	margin:0px 0px 0px 50px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #sideArea {
	float:right;
	width:230px;
	height:640px;
	margin:32px 0px 0px 10px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #sideArea img{
	margin:0px 0px 10px 0px;
	border:1px solid #ebebeb;
}
/* content end */