@charset "utf-8";
/* CSS Document */


#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p a
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockC01 p
{
	font-size:18px;
	color:#fff;
	padding-left:10px;
	padding-top:8px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01 h1
{
	font-weight:normal;	
}

#button1 {
  background: #032d53;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 8px 23px 10px 20px;
  text-decoration: none;
  width:75px;
  height:28px;
  cursor:pointer;
}

#button1 a
{
	color:#fff;	
}

#button1:hover {
  background: #d3b86a;
  color:#032d53;
  text-decoration: none;
  transition:0.5s all ease;
}

#button1:hover a{
  color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 h1
{
	font-weight:normal;
	margin-left:10px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 #contentH1
{
	margin-top:50px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2 button
{
	margin-top:8px;
	margin-left:10px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2 input[type="text"]
{
	width:195px;	
	height:33px;
	border: none;
	font-size:18px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2 select
{
	width:200px;	
	height:40px;
	border: none;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv input[type="radio"]
{
	margin-left:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 #contentBut
{
	text-align:center;
	margin:auto;
	width:90px;
	height:20px;	
	margin-top:50px;
}
