@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	
.showItem{display:none}
.hideItem{display:block}

html
{
	width:320px !important;	
}

  #wrap #innerWrap #contentWrap
 {
	width:320px !important;
	margin-left:10px;
	height:1750px !important;
 }
 
 #wrap #innerWrap #contentWrap #contentInnerWrap
 {
	width:320px !important;
	margin:auto;
	height:1750px !important;
 }
 
 #wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
{
	width:300px !important;
	height:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap .contentBlockB01
{
	height:40px;
	width:300px;
	background-image:url(../images/contents_img_007.png);
	background-repeat:no-repeat;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01
{
	width:300px !important;
	height:1350px;
	float:left;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01
{
	width:300px;
	height:300px;
	float:left;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 ul li 
{
	display:none;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 ul li:first-child
{
	display:block;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 ul li ul li
{
	display:block;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01
{
	width:300px;
	height:70px;
	border:1px solid grey;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01 h2
{
	font-weight:normal;
	color:#032d53;	
	font-size:18px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01 h3
{
	float:right;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01:first-child
{
	width:150px;
	height:60px;
	float:left;	
	margin-left:10px;
	margin-top:5px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01:nth-child(2)
{
	width:130px !important;
	height:20px;
	float:left;	
	margin-left:10px;
	margin-top:5px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01:nth-child(2) img
{
	width:20px !important;
	height:20px;
	
}


#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01:nth-child(2)
{
	width:100px;
	height:20px;
	float:left;	
	margin-left:10px;
	margin-top:5px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockE01 .contentBlockF01:nth-child(3)
{
	width:150px;
	height:20px;
	position:absolute;
	right:30px;
	margin-top:30px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockG01
{
	width:300px;
	height:330px;
	border:1px solid grey;	
	margin-top:17px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01
{
	width:300px;
	height:55px;
	border:1px solid grey;	
	margin-top:15px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 img
{
	width:25px;
	height:16px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 .contentBlockI01:first-child
{
	padding-left:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 .contentBlockI01:nth-child(2)
{
	width:120px !important;
	height:55px !important;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 .contentBlockI01:nth-child(2) img
{
	width:35px;
	height:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 .contentBlockI01:last-child
{
	width:80px !important;
	height:55px !important;
	padding-left:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockH01 .contentBlockI01:last-child ul li
{
	float:right;
	margin-right:5px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockJ01
{
	width:290px;
	height:450px;
	border:1px solid grey;	
	margin-top:15px;
	font-size:12px;
	padding-left:10px;		
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockK01 
{
	width:300px;
	height:350px;
	border:1px solid grey;	
	margin-top:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockK01 iframe
{
	width:280px;
	height:280px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockL01
{
	width:300px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockL01 #scTitle
{
	width:300px;
}

#bannerBlockA01
{
	margin-top:0;	
}

#banner
{
	width:300px;
	height:100px;
	margin:auto;
	margin-bottom:210px;
	margin-top:15px;
}

.slide {
    top: 0;
    opacity: 0;
    width: 300px;
    height: 250px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.nav label {
	margin-top:90px;
    width: 65px;
    height: 50px;
    display: none;
    position: absolute;
	opacity: 1;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 30pt;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
}


.slides
{
	width:300px;
	height:250px;
}

.slides img
{
	width:280px;
	height:230px;
	margin-left:10px;
}

#bannerBlockA01 img
{
	width:60px;
	height:50px;	
}

.nav-dots .nav-dot {
	width:60px;
	height:50px;	
	margin: 0 5px;
	border-radius: 100%;
	display: inline-block;
}
 
}