@charset "utf-8";
/* CSS Document */

/* contentstart */
#wrap #innerWrap #contentWrap
{
	width:1920px;
	height:700px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap
{
	width:960px;
	margin:auto;
	height:700px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #dirpath{
	height:14px;
	margin:20px 0px 20px 0px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
{
	width:960px;
	height:75px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #headingBlockA01{
	width:960px;
	height:32px;
	padding:5px 0px 3px 10px;
	background:url(../images/contents_heading_001.png) no-repeat;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01{
	width:490px;
	height:550px;
	border:1px solid #a1a1a1;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail01{
	width:450px;
	height:320px;
	margin:10px 0px 10px 10px;
	border-bottom:1px solid #a1a1a1;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail01 input {
	width:200px;
	height:30px;
	margin:10px 0px 0px 0px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02{
	width:450px;
	height:50px;
	margin:5px 0px 10px 10px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #submitBut {
  background: #032d53;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 8px 20px 10px 30px;
  text-decoration: none;
  width:50px;
  height:15px;
  margin:10px 0px 10px 5px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #submitBut:hover {
  background: #d3b86a;
  text-decoration: none;
  color:#032d53;
  cursor:pointer;
  transition:0.5s all ease;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #btnBlockA01{
	width:65px;
	height:18px;
	padding:15px 10px 10px 40px;
	background-image:url(../images/contents_btn_001.png);
}
/* content end */
