@charset "utf-8";
/* CSS Document */


/* content start */
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p a
{
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 h1
{
	color:#022c53;
	font-weight:normal;
	margin-bottom:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 h2
{
	color:#ad9655;
	font-weight:normal;
	margin-bottom:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockE01 p
{
	padding-top:10px;
	color:#fff;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockG01 p
{
	padding-top:10px;
	color:#fff;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockF01 .formSlider
{
	width: 440px;
	height: 28px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockF01 .formSlider span
{
	position:absolute;
	z-index:8;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockF01 .formSlider #formSpan
{
	padding-top:10px;
	font-size:12px;
	color:#636363;
	margin-left:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 #contentBlockF01 .formSlider #formSpan2
{
	margin-left:290px;
	padding-top:10px;
	font-size:12px;
	color:#636363;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockH01  p
{
	margin-bottom:10px;	
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockH01  input[type="text"]
{
	width:310px;
	height:20px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockH01 select
{
	width:170px;
	height:25px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockH01 select option
{
	text-align:left;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 p
{
	margin-left:10px;
	margin-top:10px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 select
{
	width:270px;
	height:25px;
	margin-top:10px;
	margin-left:10px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 #submitBut {
  background: #032d53;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 25px;
  text-decoration: none;
  width:200px;
  height:25px;
  margin-left:45px;
  margin-top:30px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 #submitBut span{
	color:#FFFFFF;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 #submitBut:hover {
  background: #d3b86a;
  transition:0.5s all ease;	
  text-decoration: none;
  cursor:pointer;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockD01 #contentBlockJ01 #submitBut:hover span
{
	color:#032d53;	
}

input[type="number"]:disabled {
    
} 
/* content end */
