@charset "utf-8";
/* CSS Document */

/* contentstart */
#wrap #innerWrap #contentWrap
{
	width:1920px;
	height:1300px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap
{
	width:960px;
	margin:auto;
	height:1300px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
{
	width:960px;
	height:20px;
	margin:20px 0 20px 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01
{
	width:378px;
	height:40px;
	background-image: url(../images/contents_heading_001.png);
	background-repeat:no-repeat;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01
{
	width:830px;
	height:auto;
	border:1px solid #a1a1a1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01
{
	width:830px;
	height:215px;
	border-bottom:1px solid #a1a1a1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01:last-child
{
	border:none;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 
{
	float:right;
	width:500px;
	height:173px;
	margin:20px 25px 0 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav{
	width:830px;
	height:40px;
	margin-top:28px;
	padding:0px;
	text-align:center;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NextPrevNav{
	width:80px;
	height:24px;
	background-color:#032d53;
	color:#FFFFFF;
	margin:6px;
	border:1px solid #032d53;
	margin-top:2px;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NextPrevNav:hover
{
	color:#d3b86a;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NumNav{
	width:30px;
	height:24px;
	background-color:#FFFFFF;
	border:1px solid #AFACAC;
	margin:6px;
	font-weight:bold;
}
/* content end */





