@charset "utf-8";
/* CSS Document */

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p 
{
	color:#032d53;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 a
{
	color:#032d53;
	font-size:14px;
	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 p 
{
	font-size:24px;
	color:#FFF;
	padding-top:5px;
	padding-left:10px;
	background-image:url(../images/contents_heading_001.png);
	background-repeat:no-repeat;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .imgBlockA01
{
	float:left;
	width:252px; 
	height:173px;
	padding:22px 0 0 23px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .imgBlockB01
{
	float:left;
	margin:10px 0 0 0;
	width:233px;
	height:56px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .imgBlockC01
{
	float:right;
	width:220px;
	height:74px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .imgBlockD01
{
	float:left;
	margin:0 0 0 90px;
	width:136px;
	height:74px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .imgBlockE01
{
	float:left;
	margin:0 0 0 90px;
	width:149px;
	height:66px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .textBlockA01
{
	font-size:24px;
	color:#000000;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .textBlockB01
{
	font-size:20px;
	color:#032d53;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01 .colBlockA01 .listBlockA01 .textBlockC01
{
	padding:28px 0 0 0;
	font-size:14px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav ul li
{
	display:inline-block;
	font-size:18px;
	font-family:Arial;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NumNav
{
	color:#032d53;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NumNav a 
{
	color:#032d53;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NumNav:hover
{
	color:#ffffff;
	font-weight:bold;
	cursor:pointer;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav .NumNav span
{
	padding-top:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav ul li div:hover
{
	background-color:#032d53;
	color:#FFFFFF;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav ul li .NextPrevNav a
{
	color:#FFFFFF;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentNav ul li .NextPrevNav:hover a 
{
	color:#d3b86a;	
}

#wrap #innerWrap #footer
{
	color:#032d53;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE h2
{
	font-weight:100;
	margin-top:10px;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE:first-child p
{
	margin-top:10px;
	margin-left:50px;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE 
{
	color:#032d53;
}

#wrap #innerWrap #footer #footerBlockC .footerBlockE:last-child p
{
	font-size:12px;
}

#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB
{
	font-size:12px;
	color:#032d53;
}

#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB p
{	
	float:right;
}

#wrap #innerWrap #footer2 #footer2BlockA .footer2BlockB a 
{
	color:032d53;
}

 #footer a
 {
   text-decoration:none;
   color:#032d53;
}
