@charset "utf-8";

/* contentstart */
#wrap #innerWrap #contentWrap
{
	width:1920px;
	height:800px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap
{
	width:960px;
	margin:auto;
	height:800px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
{
	width:960px;
	margin:20px 0 20px 0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01
{
	width:300px;
	height:630px;
	float:left;
	margin-right:26px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockC01
{
	background-image:url(../images/content_image_001.png);
	width:300px;
	height:40px;
	background-repeat:no-repeat;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01
{
	width:300px;
	height:590px;
	border:1px solid #a1a1a1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table
{
	margin-left:10px;
	font-size:12px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table select
{
	width:130px;
	height:20px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table .text
{
	width:125px;
	height:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table .textAdvertise
{
	width:125px;
	height:74px;
	resize:none;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table .findLocation
{
   background: #022c54;
   padding: 8px 25px;
   color: #fff;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   width:80px;
   height:15px;
   margin-left:75px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table .findLocation:hover
{
   background:#d3b86a;
   color:#022c54;
   transition: 0.5s all ease;	
   cursor:pointer;
}


#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table iframe
{
   margin-left:25px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 table .text2
{
	width:80px;
	height:15px;
}


#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockF01
{
	width:300px;
	height:630px;
	float:left;
	margin-right:0;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockF01 #contentBlockE01
{
	width:300px;
	height:115px;
	border:1px solid #a1a1a1;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockF01 #contentBlockE01 table
{
	margin-left:10px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockF01  #contentBlockE01 table .formButton2
{
   background: #022c54;
   padding: 8px 16px;
   color: #fff;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   width:50px;
   height:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockF01 #contentBlockE01 table .formButton2:hover
{
  background:#d3b86a;
   color:#022c54;
   transition: 0.5s all ease;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01
{
	width:960px;
	height:93px;
	margin-top:28px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01 .contentBlockH01
{
	width:480px;
	height:93px;
	float:left;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01 .formButton3
{
   background: #022c54;
   padding: 8px 10px;
   color: #fff;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   width:70px;
   height:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01 .formButton3:hover
{
   background:#d3b86a;
   color:#022c54;
   transition: 0.5s all ease;
   cursor:pointer;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01 .contentBlockH01:first-child .formButton3
{
	float:right;
	margin-right:15px;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockG01 .contentBlockH01:last-child .formButton3
{
	float:left;
	margin-left:15px;
}

