@charset "utf-8";
/* CSS Document */

/* content start */
#wrap #innerWrap #mainArea #mainInnerWrap #dirpath p {
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #mainArea #mainInnerWrap #dirpath p a {
	font-size:14px;
	color:#032d53;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #headingBlockA01 h1{
	font:arial;
	font-size:24px;
	color:#FFFFFF;
	font-weight:normal;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 h1{
	font:arial;
	font-size:24px;
	color:#032d53;
	font-weight:normal;
	margin:25px 0px 15px 0px;
	text-align:center;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 #contentDetail h1{
	font:arial;
	font-size:24px;
	color:#032d53;
	font-weight:normal;
	margin:25px 0px 15px 0px;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 #contentDetail p {
	font:arial;
	font-size:14px;
	color:#000000;
}

#wrap #innerWrap #mainArea #mainInnerWrap #content #contentBlockA01 #contentDetail p span{
	color:#032d53;
	font-weight:normal;
}
/* content end */