@charset "utf-8";
/* CSS Document */

 @media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	#wrap #innerWrap #contentWrap
	{
		width:320px;
		height:auto;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap
	{
		width:300px;
		margin:auto;
		height:1000px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01
	{
		width:300px;
		height:20px;
		margin:10px 10px 10px 10px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 p{
		padding:0px;
		font-size:14px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01
	{
		width:300px;
		height:840px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockC01
	{
		width:300px;
		height:40px;
		background:url(../../../images/contents_img_017.png) no-repeat;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01
	{
		width:300px;
		height:830px;
		border:1px solid #a1a1a1;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01
	{
		width:300px;
		height:185px;
		float:left;	
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01
	{
		width:300px;
		height:800px;
		float:none;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01
	{
		width:280px;
		height:150px;
		border:1px solid #a1a1a1;
		margin-top:25px;
		margin-left:10px;	
		padding:0px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01
	{
		width:300px;
		height:745px;
		border:none;	
		margin:0px;
		float:none;
		padding:0px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01
	{
		width:120px;
		height: 160px;
		float:left;
		margin:0px 0px 0px 30px;	
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 #contentBlockI01{
		width:140px;
		height:160px;
		margin:10px 0px 0px 30px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01 .del{
		display:none;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01 h1{
		margin:10px 0px 10px 0px;
		font-size:22px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01:first-child
	{
		width:100px;
		height: 160px;
		float:left;
		margin-left:10px;
		margin-top:10px;
	}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01 #button1
	{
		margin-left:20px;
		margin-top:8px;
		padding:10px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockE01 #contentBlockG01 .contentBlockI01 #button1 p{
		font-size:18px;
	}
	#button1 {
	  background: #043969;
	  background-image: -webkit-linear-gradient(top, #043969, #021f39);
	  background-image: -moz-linear-gradient(top, #043969, #021f39);
	  background-image: -ms-linear-gradient(top, #043969, #021f39);
	  background-image: -o-linear-gradient(top, #043969, #021f39);
	  background-image: linear-gradient(to bottom, #043969, #021f39);
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 21px;
	  padding: 5px 22px 10px 5px;
	  text-decoration: none;
	  width:65px;
	  height:25px;
}
	
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv
	{
		height:40px;
		width:500px;
		float:left;
		margin-bottom:20px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 #contentBut p{
		font-size:24px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2
	{
		height:40px;
		width:120px;
		float:left;
		margin-left:10px;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2 input[type="text"] {
    width: 100px;
    height: 33px;
    border: medium none;
    font-size: 18px;
}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2:first-child
	{
		padding-top:10px;	
	}
		
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2:last-child
	{
		border:1px solid #a1a1a1;
	}
	#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 .contentDiv .contentDiv2 select {
    width: 110px;
    height: 40px;
    border: medium none;
    font-size: 14px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockB01 #contentBlockD01 #contentBlockF01 #contentBlockH01 #contentBut {
	margin:20px 0px 0px 100px;
}