@charset "utf-8";
/* CSS Document */

/*content start*/
#wrap #innerWrap #contentWrap #contentInnerWrap #dirpath p {
	font-size:14px;
	color:#032d53;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #dirpath p a {
	font-size:14px;
	color:#032d53;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #headingBlockA01 h1{
	font:arial;
	font-size:24px;
	font-weight:normal;
	color:#FFFFFF;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail01 p{
	font:arial;
	font-size:12px;
	color:#000000;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 #btnBlockA01 h6{
	font:arial;
	font-size:14px;
	color:#FFFFFF;
	font-weight:normal;
	margin:0px 0px 0px 10px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentBlockA01 #borderBlockA01 #contentDetail02 p{
	font:arial;
	font-size:12px;
	color:#032d53;
	margin:0px 0px 0px 5px;
}
/*content End*/
