@charset "utf-8";
/* CSS Document */

 @media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
#wrap #innerWrap #contentWrap
{
	width:320px;
	height:1250px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap
{
	width:320px;
	margin:auto;
	height:1250px;	
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01
{
	float:left;
	width:320px;
	margin:auto;
	height:1250px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #dirPathArea{
	margin:10px 0px 10px 10px;
	padding:0px;
	height:auto;
	width:auto;	
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockA01{
	margin:10px 10px 0px 10px;
	padding:0px;
	height:80px;
	width:300px;
	background-color:#032d53;	
}
#wrap #innerWrap #contentWrap #contentInnerWrap #wrapPaging {
	width:300px;
	margin:0px 10px 0px 10px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 {
    float: left;
    width: 300px;
    height: 220px;
    margin-top: 40px;
    padding: 0px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #imgBlockB01 img{
	width:160px;
	height:160px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #textBlockA01 {
	float:left;
    width: 135px;
    height: 160px;
    margin-left: 5px;
    padding: 0px;
    font-size: 12px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #textBlockA01 .TitleA01 {
    font-size: 12px;
    color: #032D53;
    margin-top: 10px;
    font-family: Arial;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #textBlockA01 .textA01 {
    font-size: 10px;
    font-family: Arial;
    margin-top: 8px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #contentDetailA01{
	float:none;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #contentDetailA01 #textdetail{
	float:left;
	position:absolute;
	margin:-40px 0px 0px 130px;
	
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #contentDetailA01 .detailicon{
	float:right;
	width:60px;
	height:28px;
	position:absolute;
	margin:-40px 0px 0px 240px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentBlockB01 #contentDetailA01 .detailicon .detailtext p{
	font-size:18px;
}
hr {
    border-color: #CDCDCD;
	margin:40px 0px 0px 0px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentNav {
    height: 40px;
    padding: 0px;
    text-align: center;
    width: 300px;
    margin-top: 0px;
}
#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentNav .NextPrevNav{
	width:80px;
	height:24px;
	background-color:#032d53;
	color:#FFFFFF;
	margin:10px 0px 0px 10px;;
	border:1px solid #032d53;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA01 #contentNav .NumNav{
	width:30px;
	height:24px;
	background-color:#FFFFFF;
	border:1px solid #AFACAC;
	margin:10px 0px 0px 10px;
	font-weight:bold;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #wrapPaging #result{
	font-size:30px;
	margin-left:30px;
	margin-top:30px;
	display:block !important;
}

#wrap #innerWrap #contentWrap #contentInnerWrap #contentInnerWrapA02{
	display:none;
}
}